.header {
  width: 100%;
  height: 35px;
  background: #fbfbfb;
  border-bottom: 1px solid #f2f2f2;
}

.w {
  width: 1200px;
  margin: 0 auto;
}


/*头部*/

.header-left {
  line-height: 35px;
  float: left;
  color: #898989;
}

.header-left .nav-bold {
  color: #e10808;
}

.header-left i {
  color: #b5b5b5;
  font-weight: bold;
  font-style: normal;
}

.header-left a {
  display: inline-block;
  color: #686868;
}

.header-left p a:hover {
  text-decoration: underline;
}

.header-right {
  float: right;
  line-height: 35px;
}

.header-right li {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 35px;
  position: relative;
  float: left;
  width: 84px;
  margin-right: 0px;
  text-indent: 10px;
  -webkit-transition: all .1s;
  -o-transition: all .1s;
  -moz-transition: all .1s;
  transition: all .1s;
}

.header-right li .current-C {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  position: absolute;
  width: 82px;
  height: 33px;
  z-index: 9;
  border: 1px solid transparent;
}

.header-right li a {
  display: block;
  color: #898989;
}

.header-right .list-first li i {
  height: 10px;
  width: 10px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  position: absolute;
  right: 5px;
  top: 16px;
  background: url('../images/imagesj/sprites_index_2.png') -36px -117px;
}

.toolbar-right-box {
  display: none;
  width: 160px;
  position: absolute;
  top: 33px;
  z-index: 3;
  background: #fff;
  border: 1px solid #ccc;
  color: #999;
  -webkit-transition: all .1s;
  -o-transition: all .1s;
  -moz-transition: all .1s;
  transition: all .1s;
}

.toolbar-right-box a {
  float: left;
  display: block;
  text-indent: 0;
  line-height: 25px;
  height: 25px;
  padding: 0 10px;
}

.header-right .list-first li:hover .current-C {
  background: #fff;
  border: 1px solid #ccc;
  border-bottom-color: transparent;
  border-top-color: #fff;
}

.header-right li:hover .toolbar-right-box {
  display: block;
}

.header-right li a:hover {
  color: #e10808;
}

.header-right li:hover .list-icon-new {
  background: url('../images/imagesj/sprites_index_2.png') -48px -117px;
}

.nav-msg .nav-message {
  position: absolute;
  top: 1px;
  background-color: #e10808;
  color: #fff;
  width: 14px;
  height: 14px;
  font-size: 14px;
  text-indent: 0;
  text-align: center;
  line-height: 14px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

.toolbar-msg {
  width: 340px;
}

.toolbar-msg p {
  text-align: center;
  margin: 10px 0;
}

.toolbar-right-nav {
  width: 190px;
  left: -106px;
}

.toolbar-right-nav .nav-current {
  font-weight: 700;
  border-bottom: 1px dashed #d2d2d2;
}

.toolbar-right-nav .nav-current:hover {
  color: #898989;
}

.right-pic {
  width: 196px;
  left: -112px;
  padding: 10px;
}

.right-pic a {
  width: 84px;
  height: 104px;
  float: left;
  padding: 83px 0 0;
  text-align: center;
}

.right-pic a:nth-child(1) {
  background: url(../images/imagesj/qrWb.jpg);
}

.right-pic a:nth-child(2) {
  background: url(../images/imagesj/qrWb.jpg) -92px 0;
  float: right;
}

.right-pic a:nth-child(3) {
  background: url(../images/imagesj/qrWb.jpg) 0 -116px;
}

.right-pic a:nth-child(4) {
  background: url(../images/imagesj/qrWb.jpg) -92px -116px;
  float: right;
}
/****搜索栏****/
.header-nav {
  width: 100%;
  height: 115px;
  background: #fff;
}

.headerlayout {
  padding: 25px 0 10px;
  height: 115px;
}

.header-logo-new {
  float: left;
  width: 429px;
  height: 80px;
}

.header-nav .header-logo-v2 {
  height: 70px;
  width: 248px;
  float: left;
}

.header-nav .header-logo-v2 a {
  display: block;
  width: 248px;
  height: 70px;
  background: url('../images/duc/logo.png') no-repeat 0 0;
  text-indent: -99999px;
}

.header-nav .header-new-ad {
  float: right;
  width: 144px;
  height: 80px;
  background: url('../images/duc/2b4f38a73a55ce2044dcf87e506481ab.gif') no-repeat 0 0;
}

.search-header {
  float: left;
  width: 340px;
  height: 57px;
  padding: 10px 0 0 30px;
}

.search-input {
  float: left;
  position: relative;
  width: 430px;
  height: 34px;
  padding-right: 50px;
  border: 1px solid #e10808;
  overflow: hidden;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.search-input .search_key {
  line-height: 30px;
  color: #828282;
  width: 373px;
  height: 32px;
  padding: 5px;
  position: absolute;
  top: 0;
  left: 0;
}
.submit {
  position: absolute;
  right: 0;
  top: 0;
  width: 46px;
  height: 32px;
  text-indent: -9999px;
  background: #e10808 url('../images/duc/logo.png') 1px -80px;
}

.search-header .list-nav-search {
  width: 430px;
}

.search-header .list-nav-search li {
  float: left;
  padding-top: 5px;
}

.search-header .list-nav-search li a {
  color: #B6B6B6;
  /* font-size: 10px; */
}

.search-header .list-nav-search li .cur-Rent {
  color: #e10808;
  font-size: 12px;
}

.search-header .list-nav-search li:not(:nth-child(4)) {
  margin-right: 16px;
}

.search-header .list-nav-search li:last-child {
  display:none;
}

.search-header .list-nav-search li:hover a {
  text-decoration: underline;
}

.header-car {
  width: 135px;
  height: 33px;
  margin-top: 10px;
  float: right;
  line-height: 20px;
}

.header-car .header-h {
  display: block;
  border: 1px solid #eaeaea;
  position: relative;
  padding: 6px 8px;
  color: #232323;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;
}

.header-car .header-h i {
  font-style: normal;
  background-color: #e10808;
  width: 18px;
  height: 18px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: 25px;
  text-align: center;
  color: #fff;
  line-height: 18px;
  font-size: 14px;
}

.header-car .header-h span {
  float: left;
  margin-right: 10px;
  display:block;
  width: 22px;
  height: 22px;
  background: url(../images/duc/tuomi2.png) -188px -59px;
}

.header-car .header-h:hover {
  color: #e10808;
  border-color: #e10808;
}

.new-menu-v2 {
  width: 100%;
  height: 38px;
  margin-top: 10px;
  background-color: #e10808;
  font-family: "Microsoft Yahei";
  line-height: 38px;
}

.new-menu-v2 .new-menu-mid {
  position: relative;
}

.new-menu-v2 .new-list-mid li {
  float: left;
  width: 150px;
}

.new-menu-v2 .new-list-mid li a {
  display: block;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

.new-menu-v2 .new-list-mid li:first-child {
  width: 174px;
}

.new-menu-v2 .new-list-mid li:first-child a {
  text-align: left;
  padding-left: 20px;
}

.new-menu-v2 .new-list-mid li .new-menu-s {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 20px;
  height: 18px;
  vertical-align: middle;
  margin-right: 14px;
  background: url('../images/imagesj/newVesionSprites.png') -384px -133px;
}

.new-menu-v2 .new-list-mid .current-child-s a {
  background: url('../images/duc/hw.gif') no-repeat;
}

.new-menu-v2 .new-list-mid li:not(:last-child):hover {
  background-color: #c40705;
}

.new-menu-v2 .new-list-mid li.current-child-s:hover {
  background-color: #e10808;
}

.new-menu-v2 .new-list-mid .current-last {
  width: 210px;
  float: right;
  height: 38px;
  background: url('../images/duc/tuomi2.png')
}

.new-menu-v2 .new-list-mid .current-last a {
  height: 38px;
}

.new-menu-v2 .new-list-mid li:last-child:hover a {
  background: url('../images/duc/tuomi2.png');
}

.subnav-list {
  display: none;
  position: absolute;
  top: 38px;
  left: 50%;
  margin-left: -600px;
  height: 360px;
  z-index: 9999;
}

.subnav-list .subnav-sublist {
  width: 174px;
}

.subnav-list li a {
  display: block;
  height: 45px;
  line-height: 45px;
  font-size: 14px;
  color: #fff;
  padding: 0 10px 0px 24px;
  background: rgba(0, 0, 0, 0.8);
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;
}

.subnav-list ul li a span {
  margin-right: 18px;
  margin-top: 13px;
  float: left;
  width: 18px;
  height: 18px;
  background: url(../images/duc/tuomi2.png) 0 -40px no-repeat;
}

.subnav-list ul li a i {
  float: right;
  width: 10px;
  height: 18px;
  margin-top: 12px;
  background: url(../images/imagesj/newVesionSprites.png) -590px -54px;
}

.subnav-list ul li:nth-child(2) a span {
  background: url(../images/duc/tuomi2.png) -19px -40px;
}

.subnav-list ul li:nth-child(3) a span {
  background: url(../images/duc/tuomi2.png) -39px -40px;
}

.subnav-list ul li:nth-child(4) a span {
  background: url(../images/duc/tuomi2.png) -80px -40px;
}

.subnav-list ul li:nth-child(5) a span {
  background: url(../images/duc/tuomi2.png) -59px -40px;
}

.subnav-list ul li:nth-child(6) a span {
  background: url(../images/duc/tuomi2.png) -102px -40px;
}

.subnav-list ul li:nth-child(7) a span {
  background: url(../images/duc/tuomi2.png) -125px -40px;
}

.subnav-list ul li:nth-child(8) a span {
  background: url(../images/duc/tuomi2.png) -152px -40px;
}

.subnav-list ul li:hover .current-Nav {
  color: #e10808;
  background: #fff;
}

.subnav-list ul li:hover i {
  background-position: -580px -54px;
}

.subnav-list ul li:nth-child(1):hover span {
  background-position: 0 -62px;
}

.subnav-list ul li:nth-child(2):hover span {
  background-position: -19px -62px;
}

.subnav-list ul li:nth-child(3):hover span {
  background-position: -39px -62px;
}

.subnav-list ul li:nth-child(4):hover span {
  background-position: -80px -62px;
}

.subnav-list ul li:nth-child(5):hover span {
  background-position: -59px -62px;
}

.subnav-list ul li:nth-child(6):hover span {
  background-position: -102px -62px;
}

.subnav-list ul li:nth-child(7):hover span {
  background-position: -125px -62px;
}

.subnav-list ul li:nth-child(8):hover span {
  background-position: -152px -62px;
}

.subnav-sublist ul li div {
  width: 286px;
  height: 360px;
  padding: 0 30px;
  position: absolute;
  top: 0;
  right: -286px;
  display: none;
  background: #f8f8f8;
}

.subnav-sublist ul li div a {
  display: inline-block;
  height: 45px;
  line-height: 45px;
  background: #f8f8f8;
  margin-right: 10px;
  font-size: 12px;
  color: #878787;
  word-break: break-all;
  padding: 0;
}

.subnav-list ul li .subnav2 a:hover {
  color: #e10808;
}

.subnav-sublist ul li:hover .subnav2 {
  display: block;
}
/* 最新改版 */
.index-bottom {
  background-color: #f4f3f3;
  font-family: "Microsoft YaHei", sans-serif;
}

.index-bottom .bottom-mid {
  height: 230px;
}

.index-bottom .bottom-mid .bottom-left {
  float: left;
  padding: 50px 50px 0 20px;
  text-align: center;
}

.index-bottom .bottom-mid .bottom-left .bottom-pic {
  width: 116px;
  height: 116px;
  margin-bottom: 5px;
  background: url(../images/duc/tuomi5.png) no-repeat left bottom;
}

.index-bottom .bottom-mid .bottom-left p {
  color: #525252;
  line-height: 13px;
  font-size: 12px;
}

.index-bottom .bottom-mid .bottom-m ul {
  padding-top: 50px;
}

.index-bottom .bottom-mid .bottom-m ul li {
  float: left;
  padding: 0 35px 0 32px;
  border-right: 1px solid #eaeaea;
}

.index-bottom .bottom-current {
  font-size: 18px;
  line-height: 36px;
  color: #525252;
  font-weight: 600;
}

.index-bottom .bottom-mid .bottom-m ul li a {
  display: block;
  color: #535353;
  font-size: 16px;
  line-height: 40px;
}

.index-bottom .bottom-mid .bottom-m ul li a:hover {
  text-decoration: underline;
}

.bottom-box-center {
  float: left;
  margin-left: 30px;
}

.bottom-right {
  float: left;
}

.bottom-right p {
  font-size: 16px;
  line-height: 25px;
  margin-top: 5px;
  color: #535353;
}

.bottom-right div {
  width: 95px;
  height: 26px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  border: 1px solid #d3d0d2;
  background-color: #f2f2f2;
  margin-top: 6px;
  text-align: center;
  cursor: pointer;
}

.bottom-right div span {
  font-size: 14px;
  line-height: 26px;
}

.bottom-right-r {
  padding-left: 70px;
  float: right;
  position: relative;
  width: 179px;
}

.bottom-right-r .weixin {
  float: left;
  width: 44px;
  height: 45px;
  margin: 10px 20px 0 0;
  background: url(../images/duc/tuomi4.png) no-repeat;
  background-position: -8px 0;
}

.bottom-right-r .weibo {
  float: left;
  margin-top: 10px;
  width: 45px;
  height: 45px;
  background: url(../images/duc/tuomi4.png) no-repeat;
  background-position: -8px -45px;
}

.bottom-right-r .weixin:hover {
  background-position: -53px 0;
}

.bottom-right-r .weibo:hover {
  background-position: -53px -45px;
}

.bottom-right-r .weixin-m,
.weibo-m {
  display: none;
  position: absolute;
  top: 93px;
  left: 30px;
  width: 122px;
  height: 130px;
  background: url(../images/duc/tuomi5.png) no-repeat;
  background-position: 0 -134px;
}

.bottom-right-r .weibo .weibo-m {
  background-position: 0 0;
  left: 100px;
}

.bottom-right-r .weixin:hover .weixin-m {
  display: block;
}

.bottom-right-r .weibo:hover .weibo-m {
  display: block;
}
/* 底部导航 */

.footer-nav {
  padding-top: 30px;
}

.footer-nav .footer-gb {
  height: 20px;
  line-height: 20px;
  color: #333;
  text-align: center;
}

.footer-nav .footer-gb a {
  padding: 0 10px;
  color: #666666;
  font-size: 12px;
}

.footer-nav .footer-gb .current-footer {
  color: red;
  font-weight: bold;
}

.footer-nav .footer-gb a:hover {
  text-decoration: underline;
}

.footer-p {
  line-height: 40px;
  height: 40px;
  text-align: center;
  color: #666666;
}

.footer-p a {
  color: #232323;
}

.footer-p a:hover {
  text-decoration: underline;
  color: #206eef;
}

.footer-link {
  padding-top: 20px;
  text-align: center;
  height: 80px;
  line-height: 80px;
}

.footer-link a {
  display: inline-block;
  width: 143px;
  height: 49px;
}

.footer-link a:nth-child(1) {
  background: url(../images/duc/tuomi4.png) no-repeat;
  background-position: 0 -90px;
}

.footer-link a:nth-child(2) {
  background: url(../images/duc/tuomi4.png) no-repeat;
  background-position: 0 -139px;
}

.footer-link a:nth-child(3) {
  width: 151px;
  background: url(../images/duc/tuomi4.png) no-repeat;
  background-position: 0 -188px;
}

.footer-link a:nth-child(4) {
  width: 194px;
  background: url(../images/duc/tuomi4.png) no-repeat;
  background-position: 0 -237px;
}

.footer-link a:nth-child(5) {
  width: 124px;
  position: relative;
  top: -20px;
}

.footer-link a:nth-child(5) img {
  vertical-align: middle;
}

.footer-link a:nth-child(6) {
  width: 124px;
}

.footer-link a:nth-child(6) img {
  margin-top: 5px;
  margin-left: 5px;
}
/* 意见反馈 */
.advice {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 99999999;
  display: none;
}

.advice .advice-center {
  width: 310px;
  height: 254px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -170px;
  margin-left: -150px;
}

.advice .advice-center .item-title {
  background-color: #1b91eb;
  height: 34px;
  width: 100%;
  padding: 0 28px 0 10px;
  line-height: 34px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  font-family: "宋体";
}

.advice .advice-center .item-box a {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  padding: 0;
  width: 34px;
  height: 34px;
  text-align: center;
  line-height: 34px;
  color: #fff;
  font-size: 32px;
  font-family: Helvetica, STHeiti;
}

.item-body {
  width: 100%;
  height: 220px;
  background-color: #fff;
  padding: 20px 25px;
}

.item-body div textarea,
.input-item {
  resize: none;
  color: rgb(204, 204, 204);
  width: 260px;
  height: 80px;
  border: 1px solid #D9D9D9;
  margin-top: 15px;
}

.item-body div .input-item {
  height: 22px;
}

.item-body div .help {
  width: 60px;
  height: 24px;
  float: right;
  background: url(../images/imagesj/help_tijiao.jpg);
  border: none;
  cursor: pointer;
  color: #ccc;
  margin-top: 15px;
}
.advice .item-box .close:hover{
  background:#1377c3;
}