body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; } 
body, button, input, select, textarea { font:12px "微软雅黑",tahoma, arial, \5b8b\4f53; }
h1, h2, h3, h4, h5, h6{ font-size:100%; font-weight:normal;} 
address, cite, dfn, em,i,var { font-style:normal; } 
code, kbd, pre, samp { font-family:"微软雅黑",couriernew, courier, monospace; } 
small{ font-size:12px; } 
ul, ol{ list-style:none; } 
a { text-decoration:none; } 
a:hover { text-decoration:none; } 
sup { vertical-align:text-top; } 
sub{ vertical-align:text-bottom; }
legend { color:#000; } 
fieldset, img,button,input{ border:0; outline: medium; } 
button, input, select, textarea { font-size:100%; }
table { border-collapse:collapse; border-spacing:0; }
/* ############font#### */
@font-face {
  font-family: 'iconfont';
  src: url('../font/iconfont.eot');
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../font/iconfont.woff') format('woff'),
  url('../font/iconfont.ttf') format('truetype'),
  url('../font/iconfont.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
/* ###########清除浮动################ */
.clearfix::after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	overflow: hidden;
	visibility: hidden;
}
.clearfix{
	*zoom:1;
}
.w{
	margin:0 auto;
	width: 1200px;
}
/*###############toolbar的开始#####################*/
.toolbar{
	/* background: purple; */
	height: 38px;
}
.toolbar .toolbar-left{
	float: left;
	width: 107px;
	height: 38px;
	line-height: 38px;
	font-size: 12px;
}
.toolbar-left .login {
	color: #e10808;
}
.toolbar-left a:hover{
	cursor: pointer;
	text-decoration: underline;
}
.toolbar-left i{
	display: inline-block;
	*zoom: 1; 
	vertical-align:middle;
	margin: -4px 3px 0;
	width: 0;
	height: 10px;
	border: 1px solid #b5b5b5;
}
.toolbar-left .register{
	color: #686868;
}
/*##########右边导航###########*/
.toolbar .toolbar-right{
	float: right;
}
.toolbar-right ul>li{
	float: left;
	width: 82px;
	height: 36px;
	line-height: 36px;
	cursor: pointer;
	position: relative;
}
.toolbar-right ul>li>a{
	/* position: absolute; */
	/* 关于定位问题 */
	position: relative;
	z-index: 100;
	color: #898989;
	width: 70px;
	height: 36px;
	padding-left:10px;
	/* text-indent: 10px; */
	display: inline-block;
	*zoom: 1;
	border: 1px solid transparent; 
	border-top:none;
}
.toolbar-right ul>li>i{
	display: inline-block;
	*zoom: 1; 
	width: 10px;
	height: 10px;
	position: absolute;
	right: 5px;
	top: 17px;
	background: url("../images/duc/sprites2.png") no-repeat -34px -117px;
}
.toolbar-right ul .my-msg a{
	position: relative;
}
.toolbar-right ul .my-msg a span{
	position: absolute;
	top: 2px;
	right: 10px;
    color: #ffffff;
    background-color: #e10808;
    font-size: 12px;
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    line-height: 14px;
    text-align: center;
}
/* li中。toolbar-my的样式 */
.toolbar-right ul li .toolbar-my{
	position: absolute;
	top: 36px;
	right: -80px;
	width: 160px;
	background: #fff;
	border: 1px solid #ccc;
	display: none;
	z-index: 10;
}
.toolbar-right ul li .toolbar-my li{
	float: left;
}
.toolbar-right ul li .toolbar-my a{
	color: #898989;
	height: 25px;
	line-height: 25px;
	padding:0 10px;
}
.toolbar-right ul>li:hover>a{
	color: #e10808;
	border-left:1px solid #ccc; 
	border-right:1px solid #ccc; 
	border-bottom: 1px solid #fff;
}
.toolbar-right ul li:hover i{
	background: url("../images/duc/sprites2.png") no-repeat -47px -117px;
}
.toolbar-right ul li:hover>.toolbar-my{
	display: block;
}
.toolbar-right ul li .toolbar-my a:hover{
	color: #e10808;
}
/* li中.toolbar-msg的样式 */
.toolbar-right ul li .toolbar-msg{
	position: absolute;
	top: 36px;
	left: 0px;
	width: 244px;
	background:#fff;
	border: 1px solid #ccc;
	display: none;
	padding-left: 10px;
	z-index: 10;
}
.toolbar-right ul li .toolbar-msg p{
	line-height: 50px;
	padding-bottom: 10px;
	text-align: center;
}
.toolbar-right ul li:hover .toolbar-msg{
	display: block;
	color: #898989;
}
/* li中.toolbar-focus的样式 */
.toolbar-right ul li .toolbar-server{
	position: absolute;
	top: 36px;
	right: 0;
	width: 170px;
	background: #fff;
	border:1px solid #ccc;
	display: none;
	z-index: 10;
}
.toolbar-right ul li .toolbar-server a{
	display: block;
	color:#898989; 
	height: 25px;
	line-height: 25px;
	padding: 0 10px;
	float: left;
}
.toolbar-right ul li .toolbar-server .toolbar-tel{
	font-weight:700px;
	padding: 0 10px;
	float:none;
}
.toolbar-right ul li .toolbar-server .server{
	width: 160px;
	border-top:1px dashed #ccc;
}
.toolbar-right ul li:hover .toolbar-server{
	display: block;
}
.toolbar-right ul li .toolbar-server .server a:hover{
	color: #e10808;
}
.toolbar-right ul li .toolbar-server .server .toolbar-tel:hover{
	color: #898989;
}
/* li中的.toolbar-focus的样式 */
.toolbar-right ul li .toolbar-focus{
	position: absolute;
	top: 36px;
	right:0 ;
	width: 176px;
	padding: 10px 10px 0;
	background: #fff;
	border:1px solid #ccc;
	display: none;
	z-index: 10;
}
.toolbar-right ul li .toolbar-focus a{
	display: block;
	width: 84px;
	padding: 83px 0 0;
	color: #898989;
	text-align: center;
	line-height: 25px;
	height: 25px;
	/* margin: 0 10px; */
	/* 一个元素加了浮动，在家margin会出现浮动不生效 */
	/* overflow: hidden; */
}
.toolbar-right ul li .toolbar-focus .ios{
	float: left;
	background: url("../images/duc/tuomi10.jpg") -2px -2px no-repeat;
}
.toolbar-right ul li .toolbar-focus .android{
	float: right;
	background: url("../images/duc/tuomi10.jpg") -92px -2px no-repeat;
}
.toolbar-right ul li .toolbar-focus .wx{
	float: left;
	background: url("../images/duc/tuomi10.jpg") 0px -117px no-repeat;
}
.toolbar-right ul li .toolbar-focus .wb{
	float: right;
	background: url("../images/duc/tuomi10.jpg") -92px -117px no-repeat;
}
.toolbar-right ul li:hover .toolbar-focus{
	display: block;
}
.toolbar-right ul li .toolbar-focus a:hover{
	color: #e10808;
}
/* ############log########### */
.top-layout{
	/* background: gray; */
	height: 80px;
	padding: 25px 0 10px;
}
.top-layout .logo{
	float: left;
	width: 430px;
}
.top-layout .logo h1{
	float: left;
}
.top-layout .logo h1 a{
	display: block;
	width:250px;
	height: 80px;
	text-indent: -999px;
	background: url(../images/duc/logo.png) 0 0 no-repeat;
}
.top-layout .logo>a{
	float: right;
	display: block;
	width: 144px;
	height: 80px;
	background: url("../images/duc/2b4f38a73a55ce2044dcf87e506481ab.gif") 0 0 no-repeat;
}
/* ######search######### */
.top-layout .top-search{
	float: left;
	/* padding: 10px 0 0 30px; */
	/* 此处加了浮动，在加margin仍然有效果 */
	margin: 10px 0 0 30px;
	width: 430px;
	height: 57px;
	position: relative;
}
.top-search .search #ip{
	display: block;
	width: 408px;
	height: 22px;
	padding: 5px;
	border: 1px solid #e10808;
	background: #fff;
	outline: none;
	/* position: relative; */
	/* 可见子元素只是相对与其最近的有定位的父元素或者祖先元素
	进行定位 */
}
.top-search .search #sb{
	display: block;
	width: 46px;
	height: 32px;
	outline: 0;
	border: none;
	position: absolute;
	top: 1px;
	right: 11px;
	text-indent: -999px;
}
.top-search .search i{
	display: block;
	width: 46px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	position: absolute;
	top: 1px;
	right: 11px;
	font-size: 24px;
	color: #fff;
	background: #e10808;
}
/* ###########hot-search######### */
.top-search .hot-query{
	width: 430px;
	height: 18px;
	margin-top:5px; 
}
.top-search .hot-query li{
	float: left;
	margin-right: 12px;
	font-size:12px; 
}
.top-search .hot-query .spacial{
	display: none;
}
.top-search .hot-query .current a{
	color: #e10808;
}
.top-search .hot-query li a{
	color: #444;
}
.top-search .hot-query li:hover a{
	text-decoration: underline;
}
/* #######shop-car###### */
.top-layout .shop-car{
	float: right;
	width: 135px;
	height: 33px;
	margin-top: 10px;
}
.top-layout .shop-car a{
	position: relative;
	display: block;
	width: 117px;
	height: 20px;
	line-height: 20px;
	padding: 6px 8px;
	color: #232323;
	border: 1px solid #eaeaea;
}
.top-layout .shop-car a span{
	float: left;
	display: block;
	width: 22px;
	height: 22px;
	margin-right: 15px;
	background: url("../images/duc/tuomi2.png") -188px -60px no-repeat;
}
.top-layout .shop-car a i{
	display: block;
	width: 18px;
	height: 18px;
	line-height: 18px;
	text-align: center;
	border-radius: 50%;
	position: absolute;
	top: -10px;
	left: 25px;
	color: #fff;
	background: #e10808;
}
.top-layout .shop-car a:hover{
	color: #e10808;
	border-color:#e10808; 
}
/* ##########new-menu########### */
.new-menu{
	width: 100%;
	margin-top: 10px;
	background: #e10808;
}
.new-menu ul{
	height: 38px;
	position: relative;
}
.new-menu ul>li{
	float: left;
	width: 150px;
	height: 38px;
}
.new-menu ul>li:first-child{
	width: 156px;
	padding-left: 18px;
}
.new-menu ul>.spacial{
	width: 210px;
	float: right;
}
.new-menu ul>li:first-child a i{
	display: inline-block;
	*zoom:1;
	width: 20px;
	height: 20px;
	margin-right: 14px;
	vertical-align: middle;
	background: url(../images/duc/tuomi7.png) -387px -132px no-repeat;
}
.new-menu ul>li>a{
	display: block;
	width: 100%;
	height: 100%;
	line-height: 38px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: #fff;

}
.new-menu ul>li:hover{
	background-color: #c40705;
}
.new-menu ul .spacial:hover{
	background-color: transparent;
}
.new-menu ul .sea:hover{
	background-color: transparent;
}
.new-menu ul>.type-nav:hover .sale-list-wrapper{
	display: block;
	z-index: 10;
}
.new-menu .sale-list-wrapper{
	display: none;
	position: absolute;
	top: 38px;
	left: 0;
	/* height: 360px; */
}
.new-menu .sale-list-wrapper .sale-list-nav{
	width: 174px;
	height: 360px;
	background: rgba(0,0,0,.8);
}
.new-menu .sale-list-wrapper .sale-list-nav ol li{
	height: 100%;
	height: 45px;
	line-height: 45px;
	font-size: 14px;
	color: #fff;
	padding: 0 10px 0 23px;
	font-family: "Microsoft Yahei";
}
.new-menu .sale-list-wrapper .sale-list-nav ol li span{
	display: inline-block;
	*zoom:1;
	height: 18px;
	width: 18px;
	overflow: hidden;
	margin: 13px 18px 0 0;
}
.new-menu .sale-list-wrapper .sale-list-nav ol li i{
	float: right;
	display: inline-block;
	*zoom:1;
	width: 10px;
	height: 18px;
	margin-top: 15px;
	background: url("../images/duc/tuomi7.png") -590px -54px no-repeat;
}
.new-menu .sale-list-wrapper .sale-list-nav ol li .sale-list-item{
	display: none;
	position: absolute;
	top: 0;
	left: 174px;
	width: 226px;
	height: 360px;
	padding: 0 30px;
	background-color: #f8f8f8;
}
.new-menu .sale-list-wrapper .sale-list-nav ol li .sale-list-item a{
	display: inline-block;
	*zoom:1;
	height: 45px;
	line-height: 45px;
	margin-right: 10px;
	color: #878787;
	font-size: 12px;
}
.new-menu .sale-list-wrapper .sale-list-nav ol li:hover .sale-list-item{
	display: block;
}
.new-menu .sale-list-wrapper .sale-list-nav ol li:hover .sale-list-item a:hover{
	color: #e10808;
}
.new-menu .sale-list-wrapper .sale-list-nav ol li .list-nav-icon1{
	background: url(../images/duc/tuomi2.png) 0 -40px no-repeat;
}
.new-menu .sale-list-wrapper .sale-list-nav ol li .list-nav-icon2{
	background: url(../images/duc/tuomi2.png) -19px -40px no-repeat;
}
.new-menu .sale-list-wrapper .sale-list-nav ol li .list-nav-icon3{
	background: url(../images/duc/tuomi2.png) -40px -40px no-repeat;
}
.new-menu .sale-list-wrapper .sale-list-nav ol li .list-nav-icon4{
	background: url(../images/duc/tuomi2.png) -59px -40px no-repeat;
}
.new-menu .sale-list-wrapper .sale-list-nav ol li .list-nav-icon5{
	background: url(../images/duc/tuomi2.png) -81px -40px no-repeat;
}
.new-menu .sale-list-wrapper .sale-list-nav ol li .list-nav-icon6{
	background: url(../images/duc/tuomi2.png) -102px -40px no-repeat;
}
.new-menu .sale-list-wrapper .sale-list-nav ol li .list-nav-icon7{
	background: url(../images/duc/tuomi2.png) -125px -40px no-repeat;
}
.new-menu .sale-list-wrapper .sale-list-nav ol li .list-nav-icon8{
	background: url(../images/duc/tuomi2.png) -152px -40px no-repeat;
}
.new-menu .sale-list-wrapper .sale-list-nav ol li:hover .list-nav-icon1{
	background: url(../images/duc/tuomi2.png) 0 -60px no-repeat;
}
.new-menu .sale-list-wrapper .sale-list-nav ol li:hover .list-nav-icon2{
	background: url(../images/duc/tuomi2.png) -19px -60px no-repeat;
}
.new-menu .sale-list-wrapper .sale-list-nav ol li:hover .list-nav-icon3{
	background: url(../images/duc/tuomi2.png) -40px -60px no-repeat;
}
.new-menu .sale-list-wrapper .sale-list-nav ol li:hover .list-nav-icon4{
	background: url(../images/duc/tuomi2.png) -59px -60px no-repeat;
}
.new-menu .sale-list-wrapper .sale-list-nav ol li:hover .list-nav-icon5{
	background: url(../images/duc/tuomi2.png) -81px -60px no-repeat;
}
.new-menu .sale-list-wrapper .sale-list-nav ol li:hover .list-nav-icon6{
	background: url(../images/duc/tuomi2.png) -102px -60px no-repeat;
}
.new-menu .sale-list-wrapper .sale-list-nav ol li:hover .list-nav-icon7{
	background: url(../images/duc/tuomi2.png) -125px -60px no-repeat;
}
.new-menu .sale-list-wrapper .sale-list-nav ol li:hover .list-nav-icon8{
	background: url(../images/duc/tuomi2.png) -152px -60px no-repeat;
}
.new-menu .sale-list-wrapper .sale-list-nav ol li:hover{
	color: #e10808;
	background-color: #f8f8f8;
}
.new-menu .sale-list-wrapper .sale-list-nav ol li:hover .sale-list-item{
	display: block;
}
.new-menu .sale-list-wrapper .sale-list-nav ol li:hover i{
	background: url(../images/duc/tuomi7.png) -578px -54px no-repeat;
}
/* header */
.header{
  min-width: 1200px;
  font-family: 'microsoft yahei';
  overflow: hidden;
}
.header .ban .ban-1{
  height: 183px;
  background: url(../images/jhzhz/banner/banner1.jpg) center center no-repeat;
}
.header .ban .ban-2{
  height: 184px;
  background: url(../images/jhzhz/banner/banner2.jpg) center center no-repeat;
}
.header .ban .ban-3{
  height: 183px;
  background: url(../images/jhzhz/banner/banner3.jpg) center center no-repeat;
}
/* sec0 */
.w-1020{
  width: 1020px;
  margin: 0 auto;
}
.sec0 .tit{
  height: 123px;
  background: url(../images/jhzhz/banner/floor0_header.jpg) center center no-repeat;
}
.sec0 ul{
  margin: 20px -20px 20px 0;
  overflow: hidden;
}
/* 很巧妙，利用margin的负值，相当于给ul增加了宽度，overflow：hidden
相当于回避了版心宽度的问题 */
.sec0 ul li a{
  float: left;
  margin-right: 20px;
  display: block;
}
/* 此处给每个a链接一个属性名，是为了利用锚链接的原理
实现楼层的切换 */
.sec0 ul li a img{
  display: block;
}
.w-960{
  width: 960px;
  margin: 0 auto;
}
.sec1 .tit{
  height: 180px;
  background: url(../images/jhzhz/banner/floor1_header.jpg) center center no-repeat;
}
.sec1 .ad{
  height: 560px;
  background: url(../images/jhzhz/banner/floor1_bg1.jpg) center center no-repeat;
}
.sec1 .ad a,.sec4 .ad a{
  display: block;
}
.sec1 .ad a img,.sec4 .ad a img{
  display: block;
  border: none;
  /* margin-left: -1px; */
}
.sec1 .ad ul,.sec4 .ad ul{
  margin: 20px -30px 0 -1px;
  overflow: hidden;
}
.sec1 .ad ul li,.sec4 .ad ul li{
  float: left;
  margin-right: 19px;
}
.sec1 .ad ul a,.sec4 .ad ul a{
  display: block;
}
.sec1 .ad ul a img,.sec4 .ad ul a img{
  display: block;
}
/* 此处为什么不用背景图，却用img，一方面是为了方便封信图片
另一方面为了后期程序的维护 */
.sec1 .goods{
  height: 430px;
  background: url(../images/jhzhz/banner/floor1_bg2.jpg) center center no-repeat;
}
.sec1 .goods ul,.sec2 .goods ul,.sec3 .goods ul,.sec4 .goods ul{
  margin: 0 -25px 20px 0;
  padding-top: 20px;
}
.sec1 .goods ul li,.sec2 .goods ul li,.sec3 .goods ul li,.sec4 .goods ul li{
  float: left;
  border:1px solid #6cbaea;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 238px;
  height: 369px;
}
.sec1 .goods ul li .item-img,.sec2 .goods ul li .item-img,.sec3 .goods ul li .item-img,.sec4 .goods ul li .item-img{
  position: relative;
  padding: 15px 0;
  margin-bottom: 10px;
  height: 200px;
  text-align: center;
  background: #fff;
}
.sec1 .goods ul li .item-img a,.sec2 .goods ul li .item-img a,.sec3 .goods ul li .item-img a,.sec4 .goods ul li .item-img a{
  display: block;
}
.sec1 .goods ul li .item-img a img,.sec2 .goods ul li .item-img a img,.sec3 .goods ul li .item-img a img,.sec4 .goods ul li .item-img a img{
  display: block;
  margin: 0 auto;
}
.sec1 .goods ul li .item-img .item-icon,.sec2 .goods ul li .item-img .item-icon,.sec3 .goods ul li .item-img .item-icon,.sec4 .goods ul li .item-img .item-icon{
  position: absolute;
  top: -22px;
  left: 0;
  width: 58px;
  height: 82px;
  padding-top: 20px;
  background: url(../images/jhzhz/banner/tag_03.png) center top no-repeat;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
}
.sec1 .goods ul li .item-info a,.sec2 .goods ul li .item-info a,.sec3 .goods ul li .item-info a,.sec4 .goods ul li .item-info a{
  display: block;
  height: 25px;
  line-height: 25px;
  overflow: hidden;
  color: #232323;
  padding: 0 10px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
.sec1 .goods ul li .item-info p,.sec2 .goods ul li .item-info p,.sec3 .goods ul li .item-info p,.sec4 .goods ul li .item-info p{
  line-height: 30px;
  height: 30px;
  text-align: center;
  color: #f20000; 
}
.sec1 .goods ul li .item-info p strong,.sec2 .goods ul li .item-info p strong,.sec3 .goods ul li .item-info p strong,.sec4 .goods ul li .item-info p strong{
  font-size: 24px;
  font-weight: bold;
}
.sec1 .goods ul li .item-info .buy,.sec2 .goods ul li .item-info .buy,.sec3 .goods ul li .item-info .buy,.sec4 .goods ul li .item-info .buy{
  display: block;
  width: 120px;
  height: 30px;
  line-height: 30px;
  background-color: #2badfd;
  color: #fff;
  margin: 0 auto;
  text-align: center;
}
/* sec2 */
/* 首先，sec1和sec2的样式是一样的，代码不用重复写 */
.sec2 .tit{
  height: 180px;
  background: url(../images/jhzhz/banner/floor2_header.jpg) center center no-repeat;
}
.sec2 .ad{
  height: 550px;
  background: url(../images/jhzhz/banner/floor2_bg1.jpg) center center no-repeat;
}
.sec2 .ad ul,.sec3 .ad ul{
  margin-top: 20px;
}
.sec2 .ad ul .left,.sec3 .ad ul .left{
  float: left;
}
.sec2 .ad ul .right,.sec3 .ad ul .right{
  float: right;
}
.sec2 .ad a,.sec3 .ad a{
  display: block;
}
.sec2 .ad a img,.sec3 .ad a img{
  display: block;
  border: none;
  /* margin-left: -1px; */
}
.sec2 .ad ul a,.sec3 .ad ul a{
  display: block;
}
.sec2 .ad ul a img,.sec3 .ad ul a img{
  display: block;
}
.sec2 .goods{
  height: 451px;
  background: url(../images/jhzhz/banner/floor2_bg2.jpg) center center no-repeat;
}
/* sec2 .goods中的图片为什么会默认下对齐，由于照片尺寸是不等的 */
/* sec3 */
.sec3 .tit{
  height: 180px;
  background: url(../images/jhzhz/banner/floor3_header.jpg) center center no-repeat;
}
.sec3 .ad{
  height: 547px;
  background: url(../images/jhzhz/banner/floor3_bg1.jpg) center center no-repeat;
}
.sec3 .goods{
  height: 454px;
  background: url(../images/jhzhz/banner/floor3_bg2.jpg) center center no-repeat;
}
/* sec4 */
.sec4 .tit{
  height: 180px;
  background: url(../images/jhzhz/banner/floor4_header.jpg) center center no-repeat;
}
.sec4 .ad{
  height: 550px;
  background: url(../images/jhzhz/banner/floor4_bg1.jpg) center center no-repeat;
}
.sec4 .goods{
  height: 582px;
  background: url(../images/jhzhz/banner/floor4_bg2.jpg) center center no-repeat;
}
/* sec5 */
.w-380{
  width: 380px;
  margin: 0 auto;
}
.sec5{
  height: 292px;
  background: url(../images/jhzhz/banner/floor5_top.jpg) center center no-repeat;
}
.sec5 a{
  display: block;
}
.sec5 a img{
  display: block;
}
/* ######index-bottom############ */
/* ######index-bottom############ */
.index-bottom{
	background: #f4f3f3;
}
.index-bottom .bottom-box{
	margin-top: 50px;
	height: 180px;
}
.index-bottom .bottom-box .bottom-box-left{
	float: left;
	text-align: center;
	padding: 0 50px 0 20px;
}

.index-bottom .bottom-box .bottom-box-left .bottom-app-code{
	width: 116px;
	height: 116px;
	margin-bottom: 5px;
	background: url(../images/overseas/footer/indexBottomCode.png) bottom right no-repeat;
}
.index-bottom .bottom-box .bottom-box-left p{
	font-size: 12px;
	line-height: 13px;
	color: #525252;
}
.index-bottom .bottom-box .bottom-box-center{
	float: left;
}
.index-bottom .bottom-box .bottom-box-center ul li{
	padding: 0 35px 0 32px;
	border-right: 1px solid #eaeaea;
	float: left;
}
.index-bottom .bottom-box .bottom-box-center ul li h3{
	color: #525252;
	line-height: 36px;
	font-size: 18px;
	font-weight: bold;
}
.index-bottom .bottom-box .bottom-box-center ul li a{
	display: block;
	font-size: 16px;
	line-height: 40px;
	color: #535353;
}
.index-bottom .bottom-box .bottom-box-center ul li a:hover{
	text-decoration: underline;
}
.index-bottom .bottom-box .bottom-box-right{
	float:left;
	margin-left: 30px;
}
.index-bottom .bottom-box .bottom-box-right .contact-us{
	float:left;

}
.index-bottom .bottom-box .bottom-box-right .contact-us h3{
	color: #525252;
	line-height: 36px;
	font-size: 18px;
	font-weight: bold;
}
.index-bottom .bottom-box .bottom-box-right .contact-us p{
	font-size: 16px;
	line-height: 25px;
	padding-top: 5px;
	color: #535353;
}
.index-bottom .bottom-box .bottom-box-right .contact-us .contact-advice{
	border:1px solid #d3d0d2;
	width: 95px;
	height: 26px;
	margin-top: 6px;
	border-radius: 5px;
	background: #f2f2f2;	
	cursor: pointer;
	text-align: center;
	line-height: 26px;
	color: #444;
	font-size: 14px;
}
.index-bottom .bottom-box .bottom-box-right .attention-us{
	padding-left: 70px;
	float: left;
	position: relative;
}
.index-bottom .bottom-box .bottom-box-right .attention-us h3{
	color: #525252;
	line-height: 36px;
	font-size: 18px;
	font-weight: bold;
}
.index-bottom .bottom-box .bottom-box-right .attention-us .weiXin{
	float: left;
	width: 44px;
	height: 45px;
	margin: 10px 20px 0 0;
	background: url(../images/overseas/footer/indexBottom.png) -8px 0 no-repeat;
}
.index-bottom .bottom-box .bottom-box-right .attention-us .weiXin .weiXinCode{
	display: none;
	width: 122px;
	height: 130px;
	background: url(../images/overseas/footer/indexBottomCode.png) 0 -134px no-repeat;
	position: absolute;
	top: 92px;
	left: 30px;
}
.index-bottom .bottom-box .bottom-box-right .attention-us .weiXin:hover{
	background: url(../images/overseas/footer/indexBottom.png) -53px 0 no-repeat;
}
.index-bottom .bottom-box .bottom-box-right .attention-us .weiXin:hover .weiXinCode{
	display: block;
}
.index-bottom .bottom-box .bottom-box-right .attention-us .weiBo{
	float: left;
	width: 45px;
	height: 45px;
	margin-top: 10px;
	background: url(../images/overseas/footer/indexBottom.png) -8px -45px  no-repeat;
}
.index-bottom .bottom-box .bottom-box-right .attention-us .weiBo .weiBoCode{
	display: none;
	width: 122px;
	height: 130px;
	background: url(../images/overseas/footer/indexBottomCode.png) 0 -7px no-repeat;
	position: absolute;
	top: 92px;
	left: 100px;
}
.index-bottom .bottom-box .bottom-box-right .attention-us .weiBo:hover{
	background: url(../images/overseas/footer/indexBottom.png) -53px -45px no-repeat;
}
.index-bottom .bottom-box .bottom-box-right .attention-us .weiBo:hover .weiBoCode{
	display: block;
}
/* okhqb_feed */



/* ################foot-nav############ */
.footer{
	margin-top: 30px;
	color: #444;
}
.footer .footer-nav{
	width: 100%;
	height: 20px;
	line-height: 20px;
	text-align: center;
	color:#ccc;
}
.footer .footer-nav a{
	display: inline-block;
	margin: 0 10px;
	font-size: 12px;
	color: #666;
	vertical-align: baseline;
}
.footer .footer-copy{
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 12px;
	color:#666;
}
.footer .footer-copy a{
	color:#232323;
}
.footer-link{
	width: 100%;
	margin-top: 20px;
	height: 80px;
	line-height: 80px;
	text-align: center;
}
.footer-link a{
	display: inline-block;
	text-align: center;
	height: 49px;
}
.footer-link a img{
	display: inline-block;
}
.footer-link a:nth-child(1){
	width: 143px;
	background: url(../images/overseas/footer/indexBottom.png) 0 -91px no-repeat;
}
.footer-link a:nth-child(2){
	width: 143px;
	background: url(../images/overseas/footer/indexBottom.png) 0 -140px no-repeat;
}
.footer-link a:nth-child(3){
	width: 151px;
	background: url(../images/overseas/footer/indexBottom.png) 0 -189px no-repeat;
}
.footer-link a:nth-child(4){
	width: 194px;
	background: url(../images/overseas/footer/indexBottom.png) 0 -238px no-repeat;
}
.footer-link a:nth-child(6) img{
	margin-bottom: 4px;
}
/* feedback */
.mask{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,.5);
	display: none;
}
.mask .pop{
	position: absolute;
	top: 50%;
	left: 50%;
	margin:-127px 0 0 -155px;
	width: 310px;
	height: 254px;
	background: #fff;
	position: relative;
}
.mask .pop .feedback .top{
	height: 34px;
	line-height: 34px;
	padding: 0 28px 0 10px;
	font-size: 16px;
	font-weight: bold;
	background: #1b91eb;
	color: #fff;
}
.mask .pop .feedback a{
	display: block;
	width: 34px;
	height: 34px;
	line-height: 34px;
	font-size: 28px;
	position: absolute;
	top: 0;
	right: 0;
	text-decoration: none;
	text-align: center;
	color: #fff;
}
.mask .pop .content{
	padding: 20px 25px;
}
.mask .pop .content textarea{
	width: 260px;
	height: 80px;
	border:1px solid #D9D9D9;
	margin-top: 15px; 
	line-height: 1.5;
	color: #D9D9D9;
	resize:none;
}
.mask .pop .content input{
	width: 260px;
	height: 22px;
	border:1px solid #D9D9D9;
	margin-top: 10px; 
	line-height: 1.5;
	color: #D9D9D9;
}
.mask .pop .content .btn{
	float: right;
	display: block;
	width: 60px;
	height: 24px;
	background: url(../images/overseas/help_tijiao.jpg) 0 0 no-repeat;
	margin-top: 10px;
	cursor:pointer;
	border: none;
	outline:none;
}
/* nav-sec */
.nav-sec{
  position: fixed;
  z-index: 100;
  right: 0;
  top: 50%;
  background: pink;
  width: 182px;
  height: 438px;
  padding-top: 210px;
  margin-top: -160px;
  text-align: center;
  background: url(../images/jhzhz/banner/nav.png) center center no-repeat;
}
.nav-sec .nav-list{
  width: 180px;
  border-right: 1px;
  border-left: 1px;
}
.nav-sec .nav-list a{
  display: block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  margin-bottom: 5px;
  font-size: 18px;
  text-indent: -9999px;
  color: #fff;
}